
:root {
  --soft-red: hsl(14, 88%, 65%);
  --very-dark-gray-blue: hsl(237, 12%, 33%);
  --dark-gray-blue: hsl(240, 6%, 50%);
  --light-gray-blue: hsl(240, 5%, 91%);
}
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding:0;
}

html {
  font-size: 0.75rem;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  display: grid;
  justify-content: center;
  align-content: center;
}

.main-card {
  background: var(--light-gray-blue);
  border-radius: 2.5rem;
  height: 42.5rem;
  width: 76.6rem;
  display: grid;
  grid-template-columns: 33.3rem 1fr;
  grid-gap: 6rem;
  background-image: url("./images/bg-pattern-desktop.svg");
  background-repeat: no-repeat;
  background-position: 1260% 65%;
}

.question-answer__accordion > .answer {
  display: none;
}

.active > .answer {
  display: block;
  padding-bottom: 1.3rem;
  color: var(--dark-gray-blue);
}

.active img {
  transform: rotate(180deg);
  transition: all 0.3s ease-in;
}

.accordion__wrapper {
  margin-top: 5.4rem;
  display: flex;
  flex-direction: column;
}

.questions__accordions {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.question-answer__accordion {
  width: 29rem;
  border-bottom: 1px solid #e8e8ea;
}
.title__accordion {
  font-size: 3rem;

}

.title__question {
  font-weight: 400;
  font-size: 1.2rem;
  color: var(very-dark-gray-blue);
  margin: 1.4rem 0rem;
}

.question {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  transition: 0.4s;
}

.active h1 {
  font-weight: 700;
}

.question img {
  align-self: center;
}

.image__wrapper {
  position: relative;
}

.image__wrapper_inner {
  background: url("./images/illustration-woman-online-desktop.svg");
  height: 100%;
  background-repeat: no-repeat;
  background-position: 120% center;
}

.box {
  position: absolute;
  top: 42%;
  left: -25%;
}

.attribution {
  font-size: 1.5rem;
  position: absolute;
  bottom:3rem;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;

}
.attribution a {
  color:var(--light-gray-blue);
  text-decoration: none;
}

@media (max-width: 84.9rem) {
  .main-card {
    width: 29.1rem;
    grid-template-columns: 1fr;
    grid-template-rows: 8.3rem 1fr;
    grid-gap: 0.5rem;
    position: relative;
    height: 44.1rem;
    padding: 1rem;
 
  }

  .image__wrapper {
    background: url("./images/bg-pattern-mobile.svg");
    background-repeat: no-repeat;
    background-position: center 590%;
  }

  .image__wrapper_inner {
    position: absolute;
    width: 100%;
    height: 16.6rem;
    background-size: 72%;
    background-position: center;
    top: -129%;
  }
  .box {
    width: 4.5rem;
    left: 19%;
    top: -30%;
  }

  .question-answer__accordion {
    width: 100%;
  }
  .title__accordion {
    text-align: center;
  }
}

@media (max-width: 42.75rem){
    .attribution {
    display: none;
  }
}